.App{
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth !important;

  // background-color: red;
}

.top-tags {
  bottom: auto;
  top: 35px;
}

.top-tag-html {
  margin-left: -20px;
}

.tags {
  color: orange;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore';
}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  width: 100%;
  will-change: contents;
  height: fit-content;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 15%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  // background-color: aqua;
  // left: 10%;
}

// PAGES -----------------------------------------------------------------------

.picture {
  animation: fadeIn 1s 1s alternate;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}