.webpage {

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;

      li {
        display: inline-block;
        margin: 0 10px;

        a {
          color: white;
          transition: color 0.3s;
          font-size: 16px;
          text-decoration: none;
          transition: 0.4s ease-in;

          &:hover {
            color: orange;
            text-decoration: underline wavy;
          }
        }
      }

      
      &::before {
        content: '<ul>';
        font-family: 'La Belle Aurore';
        color: orange;
        font-size: 18px;

        opacity: 0.6;
      }

      &::after {
        content: '</ul>';
        font-family: 'La Belle Aurore';
        color: orange;
        font-size: 18px;
        opacity: 0.6;
      }
    }
  }

  .collection {
    opacity: 0;
    animation: fadeInUp 2s 2s;
    animation-fill-mode: forwards;
    clear: both;
    color: white;
    font-family: sans-serif;
    height: fit-content;
    // background-color: #115173;
    display: flex;
    flex-direction: column;
    align-items: center;

    article {
      margin-top: 40px;
      height: 600px;

      h2 {
        color: orange;
        font-size: 15px;
        text-align: center;
      }

      p {
        color: white;
      }
    }
  }
}
