
.blog-page {
  
  .text-zone {
    position: absolute;
    left: 10%;
    // top: 45%;
    transform: translateY(5%);
    width: 60%;
    vertical-align: middle;
    display: table-cell;
    

    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: orange;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        color: orange;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
        // animation: fadeIn 1.5s 2s backwards;
      }

      &::after {
        content: '</h1>';
        font-family: 'La Belle Aurore';
        color: orange;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        margin-left: 20px;
        bottom: -20px;
        left: -30px;
        opacity: 0.6;
        line-height: 18px;
        // animation: fadeIn 1.5s 2s backwards;
      }
    }

    ul, p {
      font-style: 13px;
      color: white;
      font-family: sans-serif;
      font-weight: 300;
      min-width: fit-content;
      animation: pulse 1s;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }
  }
}


.webpage {

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;

      li {
        display: inline-block;
        margin: 0 10px;

        a {
          color: white;
          transition: color 0.3s;
          font-size: 16px;
          text-decoration: none;
          transition: 0.4s ease-in;

          &:hover {
            color: orange;
            text-decoration: underline wavy;
          }
        }
      }

      
      &::before {
        content: '<ul>';
        font-family: 'La Belle Aurore';
        color: orange;
        font-size: 18px;

        opacity: 0.6;
      }

      &::after {
        content: '</ul>';
        font-family: 'La Belle Aurore';
        color: orange;
        font-size: 18px;
        opacity: 0.6;
      }
    }
  }

  .collection {
    opacity: 0;
    animation: fadeInUp 2s 2s;
    animation-fill-mode: forwards;
    clear: both;
    color: white;
    font-family: sans-serif;
    height: fit-content;
    // background-color: #115173;
    display: flex;
    flex-direction: column;
    align-items: center;

    article {
      margin-top: 40px;
      height: 600px;

      h2 {
        color: orange;
        font-size: 15px;
        text-align: center;
      }

      p {
        color: white;
      }
    }
  }
}
