$primary-color: #ffa500;



.project-card{
    width: 350px;
    height: 250px;
    padding: 5px;

    border: 1px solid $primary-color;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(44, 100%, 49%);

    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    a{
        text-decoration: none;

        h2 {
            font-weight: bold;
            font-size: larger;
            font-family: "Helvetica Neue", Helvetica, Arial;
            color: black;
            
        }

        img {
            height: 150px;
            width: auto;
        }
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: lighter;
        }
    }
    a:visited {
        color: black;
    }
}

.project-icon {
    width: 100%;
}