.logo-container {
  z-index: 0;
  width: 500px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 1;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 1;
    transform: rotateZ(30deg);
    z-index: 1;
    animation: animate-solid  7s linear forwards;

  }
}

.svg-container {
  fill: transparent;

  path {
    stroke: orange;
    stroke-width: 1;
    stroke-dasharray: 8980;
    stroke-dashoffset: 0;
    opacity: 1;

    animation: animate-outline 15s linear forwards;
  }
}

@keyframes animate-outline {
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 8980*0.15;
    opacity: 1;
  }
  75% {
    stroke-dashoffset: 8980*0.15;
    opacity: 0.9;
    
  }
  45% {
    stroke-dashoffset: 8980*0.15;
    opacity: 0.9;
    
  }
  20% {
    stroke-dashoffset: 8980*0.25;
    opacity: 0.8;
    
  }
  15% {
    stroke-dashoffset: 8980*0.75;
    opacity: 0.4;
    
  }
  5% {
    stroke-dashoffset: 8980*0.95;
    opacity: 0;
    
  }

}


@keyframes animate-solid {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
    
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {    
    opacity: 1;
  }
}



@keyframes transparent-wait {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
    
  }
  80% {
    opacity: 0;
  }
  100% {    
    opacity: 0;
  }
}
