// Table Styles

.table-container {
  opacity: 0;
  animation: fadeInUp 2s 2s;
  animation-fill-mode: forwards;
  clear: both;

  h2 {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }

  caption {
    font-size: 15px;
    text-align: left;
    padding: 10px;
    color: orange;
    font-family: sans-serif;
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #115173;
  }

  tr:nth-child(odd) {
    background-color: #335373;
  }

  // Rowspan/Colspan Styles
  td[rowspan] {
    background-color: #335373;
  }

  td[colspan] {
    background-color: #597999;
  }
}


.text-animate-hover {
  &:hover {
    color: white !important;
  }
}
